<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= List_Title %> </h1>
</div>

<div class="box">
    <% new_Item.forEach(function(item){ %>
    <form action="/delete" method="post">
        <div class="item" id="item">
            <input type="checkbox" name="checkbox" value="<%= item._id %>"  onChange="this.form.submit()">
            <p id="pan-input"> <%= item.name %></p>
        </div>
        <input type="hidden" name="List" value="<%= List_Title %>">
    </form>
    <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="newtask" placeholder="New Item" required autofocus autocomplete="off">
        <button type="submit" name="List" value=<%= List_Title %>>+</button>
    </form>
</div>
<%- include('footer'); -%>
